<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>create/edit Task</h1>
    <form method="POST" action="#">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ task.title }}">
        </div>
        <div class="form-group">
            <label for="completed">completed</label>
            <div class="form-check">
                <input class="form-check" type="checkbox" id="completed" name="completed" 
                {% if task.completed %} 
                    checked 
                {% endif %}>
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>