<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Task Manager</h1>
        <a href="{% url 'create' %}" class="btn btn-primary btn-sm">Create Task</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through tasks and display them here -->
                {% for task in tasks %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ task.title|truncatechars:20 }}</td>
                    <td>{% if task.completed %}
                        <p class="badge badge-success">
                        Completed
                        </p>
                        {% else %}
                        <p class="badge badge-danger">
                        incomplete
                        </p>
                        {% endif %}</td>
                    <td>
                        <a href="{% url 'edit' task.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'delete' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>